# Ignore everything
*

# Allow the gitignore files themselves
!.gitignore
!**/ .gitignore

# Allow the project folders
!ecommerce-backend/
!ecommerce-backend/**
!ecommerce-project/
!ecommerce-project/**

# Standard ignores that apply to everything
**/__pycache__/
*.py[cod]
venv/
node_modules/
.DS_Store